/*! fancy.css v0.0.1 | MIT License |  */

/* 清除浮动 - Clear the float
   ========================================================================== */

/*==for IE6/7 Maxthon2==*/
.fancy-clearfix {
	zoom: 1;
}

/*==for FF/chrome/opera/IE8==*/
.fancy-clearfix :after {
	clear: both;
	content: '.';
	display: block;
	width: 0;
	height: 0;
	visibility: hidden;
}

/* Flexbox
   ========================================================================== */
.fancy-flex-container {
	display: flex;
}

.fancy-inline-flex-container {
	display: -webkit-flex; /* Safari */
	display: flex;
}

/* elements that requires a fixed width  */
.fancy-flex-item-stable {
	flex: 0 0 100px;
	width: 100px
}

/* elements that requires responsive width   */
.fancy-flex-item-responsive {
	flex: 1
}

/* 水平垂直居中 - vertical horizontal center
   ========================================================================== */
/* 针对行内元素 */
.fancy-center-inline {
	height: 100px;
	line-height: 100px; /* Must be equal to height */
	text-align: center;
}

/* 针对块级元素 */
.fancy-center-block {
	height: 100px;
	line-height: 100px;
}

.fancy-center-block-content {
	display: inline-block;
}

/* 垂直居中 - vertical center
   ========================================================================== */

/*
    <div class="fancy-vertical-center-container">content</div>

    优点：1.兼容所有浏览器； 2.当没有足够的空间时，文字不会被切断
    缺点：1.只对行内有效（不能块级元素）； 2.文字多行会出问题
*/

.fancy-vc-text {
	height: 100px;
	line-height: 100px; /* Must be equal to height */
}

/*
    <div class="fancy-vertical-center-container-2">content</div>

    优点：1.兼容所有浏览器； 2.不需要嵌套的标签
    缺点：1.当没有足够的空间时，内容会消失
*/

.fancy-vc-position {
	height: 100px;
	position: absolute;
	top: 50%;
	margin-top: -50px; /* Half of the negative height  */
	overflow: hidden;
}

/*
    <div id="container">
        <div id="content">content</div>
    </div>

    优点：1.内容可以动态改变高度； 2.当容器没有足够的空间时，内容不会被切断
    缺点：1.IE低版本不支持, 2.需要很多嵌套的标签
*/
.fancy-vc-table {
	height: 300px;
	display: table;
}

.fancy-vc-table-cell {
	display: table-cell;
	vertical-align: middle;
}

/*
    兼容ie6-7的写法
    <div class="fancy-vc-table">
        <div class="fancy-vc-table-cell">
            <div class="fancy-vc-table-content">content</div>
        </div>
    </div>
*/

.fancy-vc-table-ie {
	height: 300px;
	width: 300px;
	display: table;
	position: relative;
	float: left;
}

.fancy-vc-table-cell {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	padding: 10px;
	*position: absolute;
	*top: 50%;
	*left: 50%;
}

.fancy-vc-table-content {
	*position: relative;
	*top: -50%;
	*left: -50%;
}

/* 水平居中 - horizontal center
   ========================================================================== */

/* 1px 像素边框
   ========================================================================== */

/* 外阴影
   ========================================================================== */

/* Hover
   ========================================================================== */

/* 单行溢出省略号
   ========================================================================== */
.single-line-text-overflow-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* 多行溢出省略号
   ========================================================================== */
.two-lines-text-overflow-ellipsis {
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

/* 1px 像素边框
   ========================================================================== */

/* 外阴影
   ========================================================================== */

/* Hover
   ========================================================================== */

/* 图片滤镜
   ========================================================================== */

/* 内阴影
   ========================================================================== */
.sw-inset-shadow {
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .1);
}

/* 文字阴影
   ========================================================================== */